<!-- Header Start -->
<section class="header">
    <div class="container teams">
        <div class="row">
            <!-- Left-Side -->
            <div class="col-md-8 col-sm-12  left">
                <h1 class="heading"> <span>P</span>DF <span>R</span>eports</h1>
            </div>
            <!-- Rigth-Side -->
            <!-- <div class="col-md-4 col-sm-12 right search-box input-group">
                <input type="text" class="form-control" placeholder="Search company name.."
                    aria-label="Search company name.." aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                        class="fa fa-search"></i></button>
            </div> -->
        </div>
        <hr>
    </div>
</section>
<!-- Header End -->
<br>
<div class="container">

    <div class="card card-folders">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col mr-auto">
                    <h6 class="card-title m-0">Firms' reports in PDF view</h6>
                </div>
                <div class="col col-auto pr-2">
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary active" id="btn-list"><i
                                class="fa fa-th-list fa-lg"></i></button>
                        <button class="btn btn-sm btn-outline-secondary outline-none " id="btn-grid"><i
                                class="fa fa-th-large fa-lg"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Folders Container -->
        <div class="card-body" id="foldersGroup">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><i class="far fa-folder"></i>&nbsp; Folders</li>
            </ol>
            <div id="main-folders" class="d-flex align-items-stretch flex-wrap flex-column">
                <div class="d-inline-flex" *ngFor="let company of companies">
                    <button class="folder-container" (click)="selectedFirm(company)">
                        <div class="folder-icon">
                            <i class="fa fa-folder folder-icon-color"></i>
                        </div>
                        <div class="folder-name">{{company?.firm}}</div>
                    </button>
                </div>

            </div>
        </div>
        <!-- End Folders Container -->
        <!-- Files Container -->
        <div class="card-body d-none" id="filesGroup">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a id="backToFolders"><i class="far fa-folder"></i>&nbsp;
                        Folders</a></li>
                <li class="breadcrumb-item active">{{ selectedCompany?.firm }}</li>
            </ol>
            <div id="main-files" class="d-flex align-items-stretch flex-wrap flex-column">
                <ng-container  *ngIf="selectedCompany['dow_reports_link'].length != 0">
                    <div class="d-inline-flex" *ngFor="let item of selectedCompany['dow_reports_link']">
                        <a title="Download" [href]="item" download rel="noopener noreferrer" target="_blank">
                            <button class="folder-container">
                                <div class="folder-icon">
                                    <i class="fa fa-file file-icon-color"></i>
                                </div>
                                <div class="folder-name">
                                    {{_getReportsName(item)}}
                                </div>
                            </button>
                        </a>
                    </div>
                </ng-container>

                <div class="d-inline-flex w-100"  *ngIf="selectedCompany['dow_reports_link'].length == 0">
                    <button class="folder-container text-error">
                        <div class="folder-name">
                            Oops, we currently have no PDF reports available for this firm. Check back later!
                        </div>
                    </button>
                </div>

            </div>
        </div>
        <!-- End Files Container -->
    </div>

</div>
<br>