nav {
    display: table;
    width: 100%;
}

.navbar-nav{
    justify-content: end;
}

ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
}

ul li:not(:last-child) {
    margin-right: 40px;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: block;
    margin: 30px 5px;
    padding: 5px;
    background: #E95205;
    border-radius: 5px;
    transition: opacity 0.2s, visibility 0.2s;
}

ul li ul li {
    margin: 7px 25px 6px 22px;
    width: calc(100% - 30px);
    line-height: 2.4;
}


ul li:hover a {
    color: #F9F8FD;
}

ul li:hover ul {
    visibility: visible;
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 3px 5px 2px #EBECF1;
}

ul li:hover ul li a {
    color: #F9F8FD;
}

@keyframes slide-in {
    0% {
        top: -50px;
    }

    40% {
        top: 20px;
    }

    70% {
        top: 10px;
    }

    100% {
        top: 15px;
    }
}