<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg" style="padding-top: 0rem;
    padding-bottom: 0rem;">
    <div class="container">
        <a class="navbar-brand" [routerLink]="'/'">
            <img src="/assets/ESG.png" class="d-inline-block align-top" alt="logo" style="width: 8rem;">
        </a>

        <button class="navbar-toggler custom-toggler ml-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon my-toggler"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item px-1 py-2">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/home']"
                        routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item px-1 py-2">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/about-us']" routerLinkActive="active" >About Us</a>
                </li>
                <li class="nav-item px-1 py-2">
                    <a [routerLink]="['/company/list']" routerLinkActive="active"  class="nav-link">Firms</a>
                </li>
                <li class="nav-item px-1 py-2 py-2">
                    <a routerLinkActive="active"  class="nav-link">Dashboard&nbsp;&nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="drop-menu">
                            <li class="submenu-li" ><a [routerLink]="['/dashboard']">Industry Indicators Analysis</a></li>
                            <li class="submenu-li" ><a [routerLink]="['/env_analysis']">Firm Environmental Analysis</a></li>
                            <li class="submenu-li" ><a [routerLink]="['/social_analysis']">Firm Social Analysis</a></li>
                            <li class="submenu-li" ><a [routerLink]="['/textual_analysis']">Firm Textual Analysis</a></li>
                        </ul>
                </li>
                <!-- <li class="nav-item px-1 py-2 py-2">
                    <a [routerLink]="['/emission/reports']" routerLinkActive="active" class="nav-link">Emission Reports</a>
                </li> -->
                <li class="nav-item px-1 py-2 py-2">
                    <a [routerLink]="['repository/view']" routerLinkActive="active" class="nav-link">PDF
                        Reports</a>
                </li>
                <li class="nav-item px-1 py-2 py-2">
                    <a [routerLink]="['/contact-us']" routerLinkActive="active" class="nav-link">Contact Us</a>
                </li>

                
                <!-- <li class="nav-item dropdown px-3 py-2">
                    <div class="dropdown">
                        <a class="nav-link">Language</a>
                    </div>
                </li> -->
            </ul>
        </div>


    </div>
</nav>
<!-- Navbar End -->