<!-- Header Start -->
<section class="header">
    <div class="container teams">
        <div class="row">
            <!-- Left-Side -->
            <div class="col-md-8 col-sm-12  left">
                <h1 class="heading"><span>F</span>irms</h1>
            </div>
            <!-- Rigth-Side -->
            <div class="col-md-4 col-sm-12 right search-box input-group">
                <input #search  type="text" class="form-control" placeholder="Search company name.." aria-label="Search company name.."
                    aria-describedby="button-addon2" (keyup)="searchCompany($event)">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</section>
<!-- Header End -->

<!-- List of companies start-->
<section id="companies" class="companies">

    <div class="container" data-aos="fade-up">

        <div class="wrapper-grey padded">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-2" *ngFor="let cmp of companies">
                        <app-company-card [company]="cmp"></app-company-card>
                    </div>
                    <div class="col-md-12 text-center" *ngIf="companies.length == 0" style="padding: 5rem 0rem;">
                        <!-- <button type="button" class="btn btn-light">View more</button> -->
                        <img class="oops-img" src="/assets/placeholder/office-building.png" alt="">
                        <h5 class="oops-text">Oops! Company is not available.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--End Showcase-->