<!-- Meausers Start -->
<section class="measures">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="font-weight-bold heading"><span>W</span>hat are
                        <span>S</span>ustainability <span>R</span>eports<span>?</span>
                    </h3>
                    <div class="col-md-1 line"></div>
                </div>
            </div>
            <div class="our-tech-container">
                <p>
                    Sustainability reports are documents in which firms disclose information about their environmental and social
                    impact, as well as on aspects related to their corporate governance. The most common format is PDF files, but
                    sustainability reports may also exist in form of tables or presentation slides. They are typically published
                    once a year or every two years.
                </p>
                <p>
                    Not all firms publish sustainability reports. Some prefer to integrate this information in a specific section of
                    their annual financial reports, while others disclose little to no information, as sustainability reporting is
                    still voluntary for many firms.
                </p>
                <p>
                    Firms can use different reporting frameworks or a combination of them, such as the framework from the <a
                        href="https://www.globalreporting.org/">Global Reporting Initiative</a> (GRI), the <a
                        href="https://www.sasb.org/">Accounting Standards Board</a> (SASB), the <a
                        href="https://www.fsb-tcfd.org/">Task Force on Climate-Related Financial Disclosures</a> (TCFD), or the <a
                        href="https://www.unpri.org/">Nations Principles for Responsible Investment</a> (PRI) for the financial
                    services sector. Therefore, comparing the disclosures across different firms and sectors is still very
                    challenging.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="measures">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="font-weight-bold heading">
                        <span>E</span>nvironmental, <span>S</span>ocial,
                        and <span>G</span>overnance <span>I</span>ndicators
                    </h3>
                    <div class="col-md-1 line"></div>
                </div>
            </div>
            <div class="our-tech-container">
                <p>
                <b>Environmental</b>
                In the environmental area, firms may communicate to their stakeholders their current greenhouse gas emissions, water,
                and energy consumption levels, as well as their medium and long-term goals to reduce their environmental footprint. When
                measuring their greenhouse gas emissions, firms may consider three different dimensions:
                </p>

                <ul style="list-style-type: disclosure-closed;">
                    <li><b>Scope 1</b> emissions: Emissions produced by the firms’ own facilities and activities, for example, their factories or vehicles.</li>
                    <li><b>Scope 2</b> emissions: Emissions related to generating the energy the firms consume to execute their activities.</li>
                    <li><b>Scope 3</b> emissions: Emissions related to upstream or downstream activities by other parties in the value chain,
                    for
                    example, firms’ suppliers and distributors, or how the sold products are used.
                    Most firms report on scope 1 emissions but reporting on scope 2 and 3 emissions are progressively more challenging,
                    due to the lack of available data and methodological difficulties in attributing emissions along the value chain.
                    Social</li>
                </ul>
                <p>
                    When discussing their social impact, firms may report on several indicators and activities that aim at creating a
                    positive impact on their employees, customers, supply chains, and the communities where they act. These may include
                    indicators and qualitative data about their workforce diversity, employee turnover, or on their investments to develop
                    local communities.
                    Governance
                </p>
                <p>
                    In the governance area, firms can report on a broad range of internal and external activities, such as their board
                    composition, compliance programs, donations, political contributions, or their share of business in locations with a
                    high corruption index. This portion of the reports typically contains more qualitative data and less indicators that
                    allow stakeholders to quantify firms’ impact and risks.
                </p>
              
            </div>
        </div>
    </div>
</section>
<section class="measures">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="font-weight-bold heading">
                        <span>S</span>ustainability, <span>R</span>eporting,
                        <span>D</span>irectives in the
                        <span>E</span>uropean <span>U</span>nion
                    </h3>
                    <div class="col-md-1 line"></div>
                </div>
            </div>
            <div class="our-tech-container">
            <p>
                In the European Union (EU), since the passing of the <a
                    href="https://ec.europa.eu/info/business-economy-euro/company-reporting-and-auditing/company-reporting/corporate-sustainability-reporting_en">Non-Financial
                    Reporting Directive</a> (NFRD) in 2014, large public-interest firms with more than 500 employees need to report
                on certain ESG indicators since 2017. This directive was followed by additional guidelines for the <a
                    href="https://ec.europa.eu/info/publications/non-financial-reporting-guidelines_en">disclosure of environmental
                    and social information</a> in 2017, and complemented with the guidelines for <a
                    href="https://ec.europa.eu/commission/presscorner/detail/en/IP_19_3034">climate-related reporting</a> in 2019
                and applied to approximately 11,000 firms.
            </p>
            <p>
                However, sustainability reports are mostly still voluntary and hard to compare, as there are many (non-binding)
                standards available. Therefore, most firms may currently decide whether, what and how to report on their ESG
                impact. The reported information is rarely validated by an independent third-party.
            </p>
            <p>
                In an effort to expand the scope and increase the comparability of sustainability reports, the European Commission
                recently adopted a package of measures towards a binding classification system, or taxonomy. These include the
                Corporate Sustainability Reporting Directive (CSRD), passed in 2021. This directive applies to all publicly listed
                firms, including small and medium enterprises (SME), which amount to approximately 50.000 firms. Non-European
                firms with at least one subsidiary or branch in the EU and a local net turnover of €150 million are also subject to
                this directive.
            </p>
            <p>
                The CSRD establishes mandatory ESG reporting standards and requires that the reported information is audited, which
                is an important step towards the reliability and accuracy of the ESG indicators. It applies in January 2024
                (reporting year 2023) for firms already subject to the NFRD, extends to large firms not currently covered by the
                NFRD in 2025 and to publicly listed SMEs in 2026.
            </p>
            <p>
                The CSRD is complemented by the Sustainable Finance Disclosure Regulation (SFDR), which applies to the financial
                services sector and is binding in January 2023. The German Federal Financial Supervisory Authority (BaFin) is also
                working on a Guideline for Sustainable Funds, which is expected to provide directives for ESG investment funds. The
                public consultation started in 2021 but the ensuing works have been recently put on hold.
            </p>
            <p>
            Other global efforts to simplify ESG reporting include the consolidation of the <a
                href="https://www.integratedreporting.org/">International Integrated Reporting Council</a> (IIRC) and the SASB into
            the <a href="https://www.valuereportingfoundation.org/">Value Reporting Foundation</a> (VRF) in 2021. The VRF was
            further consolidated with the <a href="https://www.cdsb.net/">Carbon Disclosure Standards Board</a> (CDSB) to establish
            the <a href="https://www.ifrs.org/groups/international-sustainability-standards-board/">International Sustainability
                Standards Board</a> (ISSB) in 2022. Its proposed standards also build upon recommendations from the TCFD.
            </p>
            </div>
        </div>
    </div>
</section>
<!-- Meausers End -->