
{{#extend "layout"}}
  {{#content "body"}}

    <center>
        <table style="width: 680px !important;" width="500">
            <tbody>
            <tr>
                <td>
                <table
                    border="0"
                    style="
                    width: 100%;
                    border: solid 1px #fff;
                    padding: 10px 30px 30px 30px;
                    "
                >
                    <tbody>
                    <tr>
                        <td align="center">
                        <img
                            src="https://www.harikrushn.com/assets/img/hk-logo.png"
                            height="auto"
                        />
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr style="width: 100%;">
                        <td align="center">
                        <b style="font-size: 20px;">
                           Customer care
                        </b>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 60%;" align="center"></td>
                    </tr>
                    <tr></tr>

                    <tr>
                        <td style="text-align: left;">
                        <p id="FirstName">Hi {{name}}!</p>
                        <p style="line-height: 1.5;">
                            {{message}}
							<br />
                            <br>
                            {{response}}
                        </p>
                       
                        <p style="    text-align: center;">
                            Harikrushn
                        </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 32px;">
                        <p
                            style="
                            padding-bottom: 1px;
                            border: 0px solid #7a5e14;
                            background: #7a5e14;
                            margin-top: 10px;
                            height: 1px;
                            "
                        ></p>
                        </td>
                    </tr>
     
                    </tbody>
                </table>
                </td>
            </tr>
            </tbody>
        </table>
    </center>

  {{/content}}
{{/extend}}
	
        

        