<style>
    .img-shop {
        height: 185px;
        border: 0px;
        width: auto;
        cursor: pointer;
    }

    .logo-img {
        border: 0px;
        height: 39px;
        position: absolute;
        top: 6px;
        margin: 18px;
    }

    a:not([href]):not([tabindex]),
    a:not([href]):not([tabindex]):focus,
    a:not([href]):not([tabindex]):hover {
        color: inherit;
        text-decoration: none;
    }

    .btn-color {
        color: #fff !important;
        background: #7b5e15;
    }

    .btn,
    button {
        padding: 13px 20px;
        font-size: 16px;
        line-height: 16px;
        border: none;
        cursor: pointer;
        font-weight: 500;
        transition: all .3s ease 0s;
        -moz-transition: .3s;
        -webkit-transition: .3s;
        -o-transition: .3s;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        -o-border-radius: 25px;
    }

    .align-center {
        text-align: center;
    }
</style>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

    <!-- START HEADER/BANNER -->

    <tbody>
        <tr>
            <td align="center">
                <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td align="center" valign="top" background="https://www.harikrushn.com/assets/img/banner1.jpg" 
                                style="background-size: cover;
                                border: 1px solid #dbd9d9;
                                border-bottom: navajowhite;">
                                <table class="col-600" width="600" height="150" border="0" align="center"
                                    cellpadding="0" cellspacing="0">

                                    <tbody>

                                        <tr>
                                            <td align="center" style="line-height: 0px;">
                                                <img style="position: inherit;border-radius: 7px; line-height:0px; font-size:0px; border:0px;"
                                                    src="https://www.harikrushn.com/assets/img/hk-logo.png" class="logo-img" width="auto" alt="logo">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="center">
                                                <span
                                                    style="    font-family: auto;
                                                    font-size: 18px;
                                                    color: #000000;
                                                    line-height: 0px;
                                                    font-weight: 300;
                                                    letter-spacing: 2px;">{{user}}
                                                    welcome to Harikrushn fashion</span>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <!-- END HEADER/BANNER -->


        <!-- START 3 BOX SHOWCASE -->

        <tr>
            <td align="center">
                <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
                    style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                    <tbody>
                        <tr>
                            <td height="35"></td>
                        </tr>

                        <tr>
                            <td align="center"
                                style="font-family: 'Raleway', sans-serif; font-size:22px; font-weight: bold; color:#2a3a4b;">
                                Your account has been created successfully!</td>
                        </tr>

                        <tr>
                            <td height="10"></td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td align="center">
                <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
                    style="border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9; ">
                    <tbody>
                        <tr>
                            <td height="10"></td>
                        </tr>
                        <tr>
                            <td>


                                <table class="col3" width="183" border="0" align="left" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <table class="insider" width="133" >

                                                    <tbody>
                                                        <tr align="center" style="line-height:0px;">
                                                            <td>
                                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;"
                                                                    src="https://www.harikrushn.com/images/sProducts/image-1595743962243_ynsy7.jpg"
                                                                    class="img-shop" alt="icon">
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td height="15"></td>
                                                        </tr>


                                                        <tr align="center">
                                                            <td
                                                                style="font-family: fangsong;
                                                                font-size: 13px;
                                                                color: #2b3c4d;
                                                                line-height: 15px;
                                                                font-weight: bold;">
                                                                TAPETA VELVET SILK EMBROIDERY WORK LEHENGA CHOLI DESIGN
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td height="10"></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                    </tbody>
                                </table>





                                <table width="1" height="20" border="0" cellpadding="0" cellspacing="0" align="left">
                                    <tbody>
                                        <tr>
                                            <td height="20"
                                                style="font-size: 0;line-height: 0;border-collapse: collapse;">
                                                <p style="padding-left: 24px;">&nbsp;</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                                <table class="col3" width="183" border="0" align="left" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <table class="insider" width="133" border="0" align="center"
                                                    cellpadding="0" cellspacing="0">

                                                    <tbody>
                                                        <tr align="center" style="line-height:0px;">
                                                            <td>
                                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;"
                                                                    src="https://www.harikrushn.com/images/products/image-1601733976718_1V14n.jpeg"
                                                                    class="img-shop" alt="icon">
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td height="15"></td>
                                                        </tr>


                                                        <tr align="center">
                                                            <td
                                                                style="font-family: fangsong;
                                                                font-size: 13px;
                                                                color: #2b3c4d;
                                                                line-height: 15px;
                                                                font-weight: bold;">
                                                               NEW DESIGNER AMAZING BANGALORI SATIN SEQUENCE WORK LEHENGA CHOLI
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td height="10"></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                    </tbody>
                                </table>



                                <table width="1" height="20" border="0" cellpadding="0" cellspacing="0" align="left">
                                    <tbody>
                                        <tr>
                                            <td height="20"
                                                style="font-size: 0;line-height: 0;border-collapse: collapse;">
                                                <p style="padding-left: 24px;">&nbsp;</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                                <table class="col3" width="183" border="0" align="right" cellpadding="0"
                                    cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <table class="insider" width="133" border="0" align="center"
                                                    cellpadding="0" cellspacing="0">

                                                    <tbody>
                                                        <tr align="center" style="line-height:0px;">
                                                            <td>
                                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;"
                                                                    src="https://www.harikrushn.com/images/products/image-1600770666486_vRK6h.jpg"
                                                                    class="img-shop" alt="icon">
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td height="15"></td>
                                                        </tr>


                                                        <tr align="center">
                                                            <td
                                                                style="font-family: fangsong;
                                                                font-size: 13px;
                                                                color: #2b3c4d;
                                                                line-height: 15px;
                                                                font-weight: bold;">
                                                                BEAUTIFUL BRIDAL CORDING WORK COMBINATION LOOK LEHENGA CHOLI WITH DUPATTA
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td height="10"></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                    </tbody>
                                </table>


                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td align="center">
                <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
                    style="margin-left:20px;    margin-bottom: 20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                    <tbody>
                        <tr>
                            <td height="35"></td>
                        </tr>

                        <tr>
                            <td align="center"
                                style="font-family: 'Raleway', sans-serif; font-size:22px; font-weight: bold; color:#2a3a4b;">
                                <div class="align-center col-12">
                                    <a href="https://www.harikrushn.com/shop/5f6dea65c6bf991ab0f2b83e" target="_blank"
                                        class="btn-color btn align-center" id="loadMore-special">
                                        Shop now
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td height="10"></td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>


        <tr>
            <td height="5"></td>
        </tr>


        <!-- END 3 BOX SHOWCASE -->


        <!-- START AWESOME TITLE -->

        <tr>
            <td align="center">
                <table align="center" class="col-600" width="600" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="center" bgcolor="#2a3b4c">
                                <table class="col-600" width="600" align="center" border="0" cellspacing="0"
                                    cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td height="33"></td>
                                        </tr>
                                        <tr>
                                            <td>


                                                <table class="col1" width="183" border="0" align="left" cellpadding="0"
                                                    cellspacing="0">

                                                    <tbody>
                                                        <tr>
                                                            <td height="18"></td>
                                                        </tr>

                                                        <tr>
                                                            <td align="center">
                                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;"
                                                                    class="images_style"
                                                                    src="https://designmodo.com/demo/emailtemplate/images/icon-title.png"
                                                                    alt="img" width="156" height="136">
                                                            </td>



                                                        </tr>
                                                    </tbody>
                                                </table>



                                                <table class="col3_one" width="380" border="0" align="right"
                                                    cellpadding="0" cellspacing="0">

                                                    <tbody>
                                                        <tr align="left" valign="top">
                                                            <td
                                                                style="font-family: 'Raleway', sans-serif; font-size:20px; color:#f1c40f; line-height:30px; font-weight: bold;">
                                                                Harikrushn.com </td>
                                                        </tr>


                                                        <tr>
                                                            <td height="5"></td>
                                                        </tr>


                                                        <tr align="left" valign="top">
                                                            <td
                                                                style="font-family: 'Lato', sans-serif; font-size:14px; color:#fff; line-height:24px; font-weight: 300;">
                                                                Online Shopping Site for Fashion & Lifestyle in India.
                                                                Buy
                                                                Clothing, Accessories and lifestyle products for women.
                                                                Best Online Fashion Store
                                                                * COD* Easy returns and exchanges*
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td height="10"></td>
                                                        </tr>

                                                        <tr align="left" valign="top">
                                                            <td>
                                                                <table class="button" style="border: 2px solid #fff;"
                                                                    bgcolor="#2b3c4d" width="30%" border="0"
                                                                    cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="10"></td>
                                                                            <td height="30" align="center"
                                                                                style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#ffffff;">
                                                                                <a href="https://harikrushn.www.com/"
                                                                                    target="_blank"
                                                                                    style="color:#ffffff;">Read
                                                                                    more</a>
                                                                            </td>
                                                                            <td width="10"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="33"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <!-- END AWESOME TITLE -->


        <!-- START WHAT WE DO -->

        <tr>
            <td align="center">
                <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
                    style="margin-left:20px; margin-right:20px;">



                    <tbody>
                        <tr>
                            <td align="center">
                                <table class="col-600" width="600" border="0" align="center" cellpadding="0"
                                    cellspacing="0"
                                    style=" border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                                    <tbody>
                                        <tr>
                                            <td height="50"></td>
                                        </tr>
                                        <tr>
                                            <td align="right">

                                                <table width="550" border="0" align="left" cellpadding="0"
                                                    cellspacing="0" class="col2" style="margin-left: 20px;
                                                    text-align: center;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center">
                                                                <table class="insider" width="550" border="0"
                                                                    align="center" cellpadding="0" cellspacing="0">



                                                                    <tbody>
                                                                        <tr align="center">
                                                                            <td
                                                                                style="font-family: 'Raleway', sans-serif; font-size:23px; color:#2a3b4c; line-height:30px; font-weight: bold;">
                                                                                What we do?</td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td height="5"></td>
                                                                        </tr>


                                                                        <tr>
                                                                            <td
                                                                                style="font-family: 'Lato', sans-serif; font-size:14px; color:#7f8c8d; line-height:24px; font-weight: 300;">
                                                                                Harikrushn ethnic collection can be segregated
                                                                                into two major categories. One is Salwar
                                                                                kameez Set and second is mix and match
                                                                                collection. The collection is inspired
                                                                                by the exquisite flowers of the world
                                                                                and possesses the freshness that can
                                                                                make anyone fall in love with it. Filled
                                                                                with floral designs and combined with
                                                                                classic styles, the new collection of
                                                                                ethnic wear for ladies by Harikrushn is a
                                                                                must-explore edit of this season. If
                                                                                your love for ethnic dresses or outfits
                                                                                is eternal, then you should not give
                                                                                this collection a miss.
                                                                                <br>
                                                                                <br>
                                                                                The Salwar Kameez collection of this
                                                                                season has covered all the trendy
                                                                                patterns and color-combination, even
                                                                                designing got a contemporary touch too.
                                                                                You can find Anarkali suit set having
                                                                                slim pants and asymmetric suit having
                                                                                palazzos beneath and straight suit-pants
                                                                                combo in the new arrivals.
                                                                                <br>
                                                                                <br>

                                                                                The mix & match collection of Harikrushn
                                                                                reflects its modern approach towards
                                                                                ethnic fashion. It is visible in the
                                                                                latest launch too. The trendy high-low
                                                                                kurtas, asymmetric kurtas, collared
                                                                                office wear kurtas, ombre kurtas,
                                                                                straight kurtas, A-line kurtas are few
                                                                                of the examples and if you look at the
                                                                                pattern, you will find variety in that
                                                                                too. From tiny floral print to broad
                                                                                patches, from festive gold foil print to
                                                                                wonderful vintage and from classic
                                                                                stripes to intricate embroidery, every
                                                                                pattern is there in new collection to
                                                                                amuse you.
                                                                                <br>
                                                                                <br>

                                                                                Not only ethnic wear for women but
                                                                                Harikrushn’s new collection of ethnic dresses
                                                                                for girls is also impressive. Filled
                                                                                with beautiful colors, combinations,
                                                                                eye-pleasing prints, intricate
                                                                                embroidery and thread work, the new
                                                                                collection will definitely help you to
                                                                                get that perfect ethnic outfit for your
                                                                                little fashionista.
                                                                                <br>
                                                                                <br>

                                                                                So, if you are looking something chic
                                                                                yet trendy to wear this season that too
                                                                                without losing comfort then Harikrushn is the
                                                                                right platform to look for. Harikrushn.com
                                                                                offers you the latest in-trend ethnic
                                                                                wear loved and praised by everyone.
                                                                                <br>
                                                                                <br>
                                                                                When it comes to ethnic wear, there are
                                                                                very few names that appear to our mind
                                                                                and Harikrushn is one of them. One of the
                                                                                dominant players in women ethnic wear
                                                                                segment in India, the brand provides its
                                                                                customer with trendy ethnic wear online
                                                                                at a much budgeted price.
                                                                                <br>
                                                                                <br>
                                                                                The brand owns a diverse range of salwar
                                                                                suit set, ready-made, and easy-stitch
                                                                                both for women in a variety of colors
                                                                                and combination. It has salwar-kameez
                                                                                sets that are very traditional and
                                                                                classy; it has suit-pants set,
                                                                                suit-skirt set, Patiala-suit set,
                                                                                floor-length suit set with churidar and
                                                                                many other combinations. Not only
                                                                                suit-set but Harikrushn also offers
                                                                                contemporary kurtas for women with
                                                                                numerous styling options. At Harikrushn you
                                                                                will find plenty of styles in kurtis,
                                                                                kurta, bottom wear, and dupatta to add
                                                                                to your closet. With a huge collection
                                                                                of ethnic dresses, Harikrushn makes it easy
                                                                                for you to choose garment as per the
                                                                                requirement of the event and your mood.
                                                                                <br>
                                                                                <br>
                                                                                Harikrushn.com is the one-stop destination for
                                                                                online ethnic wear shopping for women in
                                                                                India. The latest collection online offers
                                                                                you a vast range of ethnic wear along with
                                                                                women. Online shopping with Harikrushn
                                                                                is easy and convenient. The website is
                                                                                user-friendly and categories are well
                                                                                defined. You can reach out to the latest
                                                                                collection here and explore the whole lot
                                                                                without putting much effort. Suit sets for
                                                                                girls are also available online at Harikrushn.com.
                                                                                The whole collection gives a fresh vibe and
                                                                                assures that everyone praises you for your
                                                                                trendy choice, when you step-out flaunting
                                                                                the style you bought.
                                                                                <br>
                                                                                <br>
                                                                                You can also enjoy great offers by exploring
                                                                                online sale, which the brand throws on every
                                                                                season end.
                                                                            </td>
                                                                          
                                                                        </tr>


                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>


                        <!-- END WHAT WE DO -->


                        <!-- START FOOTER -->

                        <tr>
                            <td align="center">
                                <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
                                    style=" border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                                    <tbody>
                                        <tr>
                                            <td height="50"></td>
                                        </tr>
                                        <tr>
                                            <td align="center" bgcolor="#34495e"
                                                background="https://designmodo.com/demo/emailtemplate/images/footer.jpg"
                                                height="185">
                                                <table class="col-600" width="600" border="0" align="center"
                                                    cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td height="25"></td>
                                                        </tr>

                                                        <tr>
                                                            <td align="center"
                                                                style="font-family: 'Raleway',  sans-serif; font-size:26px; font-weight: 500; color:#f1c40f;">
                                                                Follow us for some cool stuffs</td>
                                                        </tr>


                                                        <tr>
                                                            <td height="25"></td>
                                                        </tr>



                                                    </tbody>
                                                </table>
                                                <table align="center" width="35%" border="0" cellspacing="0"
                                                    cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" width="30%" style="vertical-align: top;">
                                                                <a href="https://www.facebook.com/harikrushn0/"
                                                                    target="_blank"> <img
                                                                        src="https://designmodo.com/demo/emailtemplate/images/icon-fb.png   ">
                                                                </a>
                                                            </td>

                                                            <td align="center" class="margin" width="30%"
                                                                style="vertical-align: top;">
                                                                <a href="" target="_blank"> <img
                                                                        src="https://designmodo.com/demo/emailtemplate/images/icon-twitter.png">
                                                                </a>
                                                            </td>

                                                            <td align="center" width="30%" style="vertical-align: top;">
                                                                <a href="https://plus.google.com/+Designmodo/posts"
                                                                    target="_blank"> <img
                                                                        src="https://designmodo.com/demo/emailtemplate/images/icon-googleplus.png">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>



                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <!-- END FOOTER -->



    </tbody>
</table>