    <div>
            Hallo Herr / Frau,
            <br><br>
            Meine Bewerbungsnummer: nein. 464558 vom 08.03.2021
            <br><br>
            Nun lebe ich seit 3 Monaten als Untermieter. Ich habe kein Haus. Kürzlich bekam ich eine Mail von der Regierung, die mir sagte, wo ist Ihre Stadtregistrierung? Im Moment habe ich kein Haus. was soll ich geben antworten bitte sag mir da ich warte seit 1 jahr und du hast keine antwort mails und anrufe bekommen. was muss ich tun? Ich habe am 23. März eine Prüfung. Ich kann mich nicht auf mein Studium konzentrieren. Ich bin sehr depressiv. Bitte geben Sie irgendeine Lösung, sonst geben Sie mir ein Haus.
            <br><br>
            Grüße,<br>
            Sagarkumar barvaliya
    </div>
